body {
	background-color: #11182A; 
	color: white;
}
header {
	background: no-repeat center center;
	background-size: cover;
	color: black;
}

button.navbar-toggler:hover {
	background-color: #A48A57;
	transition: transform .5s ease;
}

.navbar-dark, .navbar, .navbar-toggler:hover {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2817, 24, 42, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	--bs-navbar-toggler-border-color: rgb(17, 22, 42);
}


.navbar-dark, .navbar[data-bs-theme=dark] {
	--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28153, 118, 50, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
	--bs-navbar-toggler-border-color: rgba(153, 118, 50);
}

.navbar { 
	--bs-navbar-color: #917624;
	--bs--navbar-bg: var(--bs-black-#000);
	background-color: var(--bs-black-#000);
}
.card {
	background-color: #070F21;
	color: white;
	transition: transform .5s ease;
	
}

.card:hover {
	transform: scale(1.1);
	z-index: 3;
}

.btn {
	color: white;
}

.custom-navbar {
	background-color: #11182A; 
}
	
.text-center {
	color: #917624
}

.makeItGold {
	color: #A38E4C;
}

.color-overlay h1 {
	color: #A48A57;
}

.color-overlay {
	background-color: rgba(0, 0, 0, 0.3);
	min-height: 90vh;
	background-size: cover;
} 

.singleCol {
	max-width: 750px;

}

footer {
     background-color: #2A282F;

}



footer a{
     color: white;
	transition: transform .5s ease;
}

footer a:hover{
     color: #A48A57;
	transition: transform .5s ease;

}



@media (max-width: 767.98px){
	.color-overlay {
		min-height:  65vh;
	}

	.nav-item:hover {
		background-color: #917624;
		color: #11182A;
	}
}

